:root{
    --primary-color:#008080;
    --accentl-color:#020201;
    --body-font:'Arial', sans-sarif;
    --heading-font:'Helvetica', sans-sarif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accentl-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
.hero{
    position: relative;
    text-align: center;
}
article{
    display: flex;
    position: absolute;
    top: 150px; ;
    right: 290px; 
    left: 290px; ;
     opacity: o.7;
    background-color: var(--accentl-color);
        color: #fff;




}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    float: right;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: o.7;
    background-color: var(--accentl-color);
    color: #fff;
}
.hero article img{
    float: right;
    width: 125px;
    margin-left: 16px;
}
.socialmedia a{
    text-decoration: none;
}
